@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
.root {
    -fx-font-family: 'Quicksand', sans-serif;
    -fx-font-weight: 500;
    -fx-font-smoothing-type: gray;
}