.alta>.title {
    -fx-color: rgba(255, 195, 195, 0.7);
}

.media>.title {
    -fx-color: rgba(252, 232, 162, 0.76);
}

.baixa>.title {
    -fx-color: rgba(199, 255, 225, 0.62);
}

.pronta>.title {
    -fx-color: rgb(204, 197, 255);
}